body {
  padding: 50px;
  background-image: url("../images/cadastro/plano_fundo.jpg"); 
  background-repeat: repeat;
  background-size: cover;
}

a {
  color: #00B7FF;
}

.form h1{
  font-family: Georgia;
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}

.form{
  font-family: Courier;
  font-size: 1.1em;
  color: #ffffff;
}

.buttons{
  margin-left: 25%;
}

.jumbotron{
  margin-left:25%;
  margin-right:25%;
  background-color:#0474b8;
}

.input-group-prepend{
  margin-left: 25%;
}

.input-group-text{
  background-color:#dfdfdf;
  color: black;
}

.form-control-sm{
  margin-right: 25%;
}
